@font-face {
  font-family: "Nunito";
  src:
    url("fonts/Nunito-Regular.woff2") format("woff2"),
    url("fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src:
    url("fonts/Nunito-Bold.woff2") format("woff2"),
    url("fonts/Nunito-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: var(--Base-Gray-900, #13131a);
  color: #fafafa;
}

.weather-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 100vh;
  margin-top: 45px;
  margin-bottom: 45px;
}

.dashboard-container {
  border-radius: 12px;
  background: var(--Base-Gray-800, #16161f);
  width: 664px;
  height: 720px;
  min-height: 700px;
  max-height: 720px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.weather-details-container {
  width: 630px;
  height: 720px;
  min-height: 700px;
  max-height: 720px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 1rem;
}

.search_bar {
  width: 100%;
  display: flex;
  gap: 1.25rem;
}

.search_bar input {
  flex: 1;
  background-color: #1e1e29;
  height: 56px;
  padding: 0 1.25rem;
  border: none;
  outline: none;
}

.search_bar img {
  cursor: pointer;
  border-radius: 1px;
}

.dashboard-details-container {
  background-image: url(../public/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city_tempare {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem 2rem;
}

.city {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.city h1 {
  color: var(--Base-Gray-100, #fafafa);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}

.city p {
  font-size: 0.8rem;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.time h3 {
  font-size: 1.5rem;
}

.item p {
  color: var(--Base-White, #fff);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
}

.weather-details {
  align-items: center;

  padding: 0.8rem;
}

.weathe_details_item {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: flex-end;
  padding: 0 2.25rem;
  padding-right: 0;
  align-items: center;
  margin-right: -20px;
}

.deatils_item h2 {
  color: var(--Base-White, #fff);
  font-size: 5rem;
  font-weight: 600;
  font-weight: 800;
  line-height: 100%;
}

.deatils_item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.cercale {
  width: 0.5rem;
  height: 0.5rem;
  fill: var(--Base-White, #fff);
  opacity: 0.4;
}

.item {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.weather_icon img {
  width: 244px;
  height: 200px;
  border: none;
}

.title_temperature h2 {
  color: var(--Base-Gray-400, #7f7f98);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.temperature_card {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  background-color: var(--Base-Gray-800, #16161f);
}

.temperature_title_card {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.temperature_title_card p {
  color: var(--Base-Gray-200, #bfbfd4);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%;
}

.temperature_card .water_temperature h3 {
  color: var(--Base-Gray-100, #fafafa);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%; /* 28px */
}

.status_details {
  display: flex;
  justify-content: space-evenly;
}

.bottum_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title_status h2 {
  color: var(--Base-Gray-400, #7f7f98);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.status_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem;
  background-color: var(--Base-Gray-800, #16161f);
}

.status_item h3 {
  color: var(--Base-Gray-200, #bfbfd4);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%;
}

.top_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--Base-Gray-800, #16161f);
  width: 100%;
  height: 398px;
  border-radius: 12px;
  padding-top: 28px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
}

.bottum_container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  border-radius: 12px;
  background: var(--Base-Gray-800, #16161f);
  width: 100%;
  height: 306px;
  padding-top: 28px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
}
